<div class="story-body">
    <h2>When Filipinos move overseas to work, they seldom come to the US</h2>
    <p>Filippinos are one of the biggest minorities in the US but still most of Filippinos working abroad at the moment live totally elsewhere.</p>
    
    <div id="chart-2"></div>
   <div class="p.chart-source"> Sources: Commission on Filipinos Overseas, Philippine Statistics Authority 
<p>Until 2000 Philippines was the biggest source of legal immigration from Asia tot the US. Now it is the fourth.</p>
     </div>
</div>


<script src="scripts/chart-02.js"></script>
