<div class="story-body">
    <h2></h2>
    <p></p>
    
    <div id="chart-1"></div>
    Source: Yearbook of Immigration Statistics 

    
<h2>Not Everyone Can Get into a Rollercoaster</h2>
    <p>China has most of rollercoasters of the world but Austria and Denmark are rollercoaster maniacs, they have most roller coasters per person. Saudi Arabia is famous for indoor amusement parks, so they make it to top 10 as well. Biggest surprise might be Georgia; 12 rollerc oasters for 10 000 000 people! </p>


    

</div>

<script src="scripts/chart-01.js"></script>
